:root {
  --clr-primary: #b6caf0;
  --clr-primary-dark: #0a1023;
  --clr-grey-1: hsl(212, 33%, 89%);
  --bg-color: linear-gradient(90deg, rgba(1,1,22,0.9724264705882353) 2%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--bg-color);
  line-height: 1.5;
  color: var(--clr-primary-dark);
  font-size: 0.875rem;
  text-align: center;
  transition: var(--transition);
}

.header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 30vh;
}

.header img{
    width: 18.75rem;
}

.sectionForm{
    background: var(--clr-grey-1);
    width: 95%;
    margin: 0 auto;
    border-radius: var(--radius);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
    .sectionForm{
      width: 40%;
    }
}

form {
    display: inline-block;
    width: 95%;
}

input[type=email],input[type=password], select {
  width: 90%;
  padding: 0.8rem 1.2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: var(--clr-primary-dark);
  border: none;
  border-bottom: 2px solid var(--clr-primary-dark);
}

/* ::-webkit-file-upload-button {
  background: black;
  color: red;
  padding: 1rem;
} */

.image-upload>input {
  display: none;
}


button{
    background: var(--clr-primary-dark);
    color: var(--clr-grey-1);
    padding: 0.5rem 0.5rem;
    width: 10rem;
    font-weight: bold;
    border-radius: 0.3rem;
    margin: 1rem;
    border: 0;
    transition: var(--transition);
    cursor: pointer;
}

button:hover{
  color: var(--clr-primary-dark);
  background: var(--clr-primary);
}

.registerBtn{
    background: orange;
    color: var(--clr-primary-dark);
}

.errorMessage{
  padding-left: 2rem;
  margin-bottom: -1rem;
  /* margin-top: 1rem; */
  color: red;
  text-align:start;
}

.errorFile{
  text-align:center;
}

.homeImg img{
  width: 500px;
}

.headerHome{
  text-transform: capitalize;
}